.settings {
    padding: 120px 0;
    iframe {
        display: block;
        margin: 30px auto 0 auto;
    }
    &__img {
        width: 200px;
    }
    .img__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}